<div class="container">
  <h3 class="d-flex justify-content-center">Angular Modal App</h3>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="home" class="m-1 btn btn-light btn-outline-primary">
          Home
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="department" class="m-1 btn btn-light btn-outline-primary">
          Department
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="employee" class="m-1 btn btn-light btn-outline-primary">
          Employee
        </button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
